@model IEnumerable<Open.Facade.Patient.PatientViewModel>
@{
    ViewData["Title"] = "Patients";
}

<h1>@ViewData["Title"]</h1>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexPageForPatients</title>
</head>
<body>
    <p>

    </p>
    <table class="table">
        <thead>
            <tr>
                @*<th>@Html.DisplayNameFor(model => model.PatientId)</th>*@
                <th>@Html.DisplayNameFor(model => model.PatientName)</th>
                <th>@Html.DisplayNameFor(model => model.IdCode)</th>
                <th>@Html.DisplayNameFor(model => model.Problem)</th>
                <th>@Html.DisplayNameFor(model => model.ValidFrom)</th>
                <th>@Html.DisplayNameFor(model => model.ValidTo)</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    @*<td>@Html.DisplayFor(crapNoTUsed => item.PatientId)</td>*@
                    <td>@Html.DisplayFor(crapNoTUsed => item.PatientName)</td>
                    <td>@Html.DisplayFor(crapNoTUsed => item.IdCode)</td>
                    <td style="background-color: @item.ProblemColor">@Html.DisplayFor(crapNoTUsed => item.Problem)</td>
                    <td>@Html.DisplayFor(crapNoTUsed => item.ValidFrom.ToString("dd/mm/yyyy"))</td>
                    <td>@Html.DisplayFor(crapNoTUsed => item.ValidTo.ToString("dd/mm/yyyy"))</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PatientId">Edit</a> | @*Todo edit & delete page*@
                        <a asp-action="Delete" asp-route-id="@item.PatientId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        //Html.RenderPartial("Footer", Model.FooterData); Todo: add footer partial view
    }
</body>
