@model IEnumerable<Open.Facade.Patient.PatientViewModel>
@{
    ViewData["Title"] = "Patients";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PatientName)Patient Name</th>
            <th>@Html.DisplayNameFor(model => model.PatientId)</th>
            <th>@Html.DisplayNameFor(model => model.Problem)</th>
            <th>@Html.DisplayNameFor(model => model.ValidFrom)</th>
            <th>@Html.DisplayNameFor(model => model.ValidTo)</th>
        </tr>
    </thead>
</table>